# ------------------------------------------------------------------------------------------------------------------------------
# 一時ファイル
# ------------------------------------------------------------------------------------------------------------------------------
# OSやエディタで自動生成されるファイル
*~
*#
*.bak
*.tmproj
.buildpath
.project
.settings
.idea
.tmp
.netbeans
nbproject


# ------------------------------------------------------------------------------------------------------------------------------
# 動的に生成されるファイル
# ------------------------------------------------------------------------------------------------------------------------------
# OS
Thumbs.db
desktop.ini
.DS_Store
.DS_STORE

# Node.js
lib
node_modules
npm-debug.log
yarn-error.log
*.tsbuildinfo
coverage

# バンドラ
.cache
.next
.vercel
dist

# Datastore Emulator
emulators

# ------------------------------------------------------------------------------------------------------------------------------
# 環境変数
# ------------------------------------------------------------------------------------------------------------------------------
.env
.env-secret
